<div class="pointer-events-none fixed inset-x-0 bottom-0 px-6 pb-12">
    <div class="ml-auto max-w-xl rounded-xl bg-orange-500 p-2 shadow-lg ring-1 ring-gray-900/10">
        <p class="text-sm leading-6 text-gray-900 font-bold">
            ⚠️ Site en construction, les QR Codes générés ne sont pas garantis !
        </p>
    </div>
</div>
