{% extends "base.html.twig" %}

{% block content %}
<h1 class="sr-only">Page title</h1>
<!-- Main 3 column grid -->
<div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
    <!-- Left column -->
    <div class="grid grid-cols-1 gap-4 lg:col-span-2 ">
        <section aria-labelledby="section-1-title">
            <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="p-6">

                    {{ include('default/block_form.html.twig') }}

                </div>
            </div>
        </section>
    </div>

    <!-- Right column -->
    <div class="grid grid-cols-1 gap-4">
        <section aria-labelledby="section-2-title">
            <h2 class="sr-only" id="section-2-title">Section title</h2>
            <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="p-6">

                    {% set url = "qrcode." ~ qrCodeParameter.format ~ "?" ~ (qrCodeParameter.__toArray|url_encode) %}
                    <a href="{{ url }}" class="bg-slate-400" target="_blank">
                        <img src="{{ url }}" class="w-full  rounded-md">
                    </a>

{#                    {{ render(controller('App\\Controller\\DefaultController::check', {url: url})) }}#}

                    <p class="text-center text-orange-400 bg-orange-100 p-2 rounded-md mt-2">
                    ⚠️ <br> Pensez à vérifier que le QR code est bien lisible avant de l'utiliser !
                    </p>

                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
