<html lang="fr" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <title>Yaqrgen</title>

    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

</head>
<body class="h-full">

    <div class="min-h-full">
        <header class="bg-indigo-600 pb-24">
            <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <div class="relative flex items-center justify-center py-5 lg:justify-between">
                    <!-- Logo -->
                    <div class="absolute left-0 flex-shrink-0 lg:static">
                    </div>

                    <!-- Right section on desktop -->
                    <div class="hidden lg:ml-4 lg:flex lg:items-center lg:pr-0.5">
                    </div>

                </div>
            </div>

        </header>
        <main class="-mt-24 pb-8">
            <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">

                {% block content %}{% endblock %}

            </div>
        </main>
        <footer>
            <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <div class="border-t border-gray-200 py-8 text-center text-sm text-gray-500 sm:text-left">
                    <span class="block sm:inline">(ↄ) 2023 - 42 Pixels Inc. - No right reserved.</span>
                    <span class="block sm:inline">- <a class="underline" target="_blank" href="https://github.com/leahpar/yaqrgen">Yaqrgen sur GitHub</a></span>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
